div.wrapper{
	margin-left:100px;
	background-color:
}

div.heading{
	width:20%;
	float:left;
	background-color:
}

li{
	text-decoration: none;
}

div.Menu{
	width:40%;
	text-decoration: none;
	display: inline-block;
	float: left;
	font-size: 17px;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	transition-duration: 0.1s;
	background-color: 

}

div.options
{

	width: 40%;
	display: inline-block;
	float:right;
	font-size: 17px;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	transition-duration: 0.1s;
	background-color: 
}

li{
	display: inline-block;
	text-decoration: none;
}

a:hover{
	color: red;
}

div.firstline{

	clear: both;
	 width: 40%;
	background-color: 

}

div.secondheading{
	margin-top: 50px;
	width: 60%;
	background-color:
}

div.paragraph{
	width: 50%;
	margin-top: 90px;
	background-color: 
}
div.buttons{
	margin-top: 100px; 
	width: 500px;
}