.{
	margin: 0;
	padding: 0;
}
body{
		}
div.section-top a{
	color: white;
}
a:hover{
	color: lightblue;
}
div.section-top{
	background-color:blue; 
}
a{
	text-decoration: none;
}
div.firstheading{
	margin-left: 200px;
	width: 10%;
	height: ;
	float: left;
	background-color:
}
div.secondheading {
	width:50%;
	float: left;
	font-size: 200px;
	background-color:
	margin-top:100px;
	line-height: 30px;
	font-size: 20px;

}
div.secondheading ul{
	height: 10px;
	width: 700px;
}
div.secondheading li{
	display: inline-block;
	width: 100px;
}
div.thirdheading{
	float: left;
	width:200px%;
	line-height: 30px;
	font-size: 20px;
	background-color:
}
div.thirdheading ul{
	width
}
div.thirdheading li{
	display: inline-block;
	width: 100px;
}
div.firstline{
	clear: both;
	margin-top: 100px 0 0 200px;
}
div.contentheading{
	color: white;
	font-size: 20px;
	margin: 200px 0 0 200px;
	font-family:Camphor,Open Sans,Segoe UI,sans-serif;

}
div.content{
	
	width:550px;
	color: white;
	line-height: 26px;
	font-size: 17px;
	letter-spacing: .025em;
	margin: 75px 0 0 200px;
}
div.buttons{
	margin: 100px 0 0 200px;
	font-size: 15px;
	font-weight: 600px;
	letter-spacing: 0.375px;
}

.button1{
	background-color: #3ecf8e;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	color: white;
	font-weight: 700;
	border-color: #3ecf8e;
}
.button2{
	border-radius: 5px;
	height: 40px;
	font-weight: 700;
	width: 200px;
	color: #7795f8;
	margin-left: 30px;

}
div.secondpage{
	background-color: white;
	margin-left: 200px;
}
div.secondcontentheading{
	font-weight: 600;
	letter-spacing: .025em;
	color: #24b47e;
	margin-top: 300px;
	margin-left: 100px;
	width: 400px;

	text-align: right;
	text-transform: uppercase;
	background-color: ;
}
div.secondcontent{
	width: 500px;
	text-align: right;
	color: #6b7c93;

}
div.secondline{
	margin-top: 50px;
	color: #6772e5;
	font-size: 17px;
	width: 300px;
	left-padding:5px;
	border-radius: 10px;
	font-weight: 400; 
}
div.thirdcontentheading{
	margin-top: 300px;
	text-align: center;
	color: #24b47e;
	font-size:27px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .025em;
}
div.thirdcontent{
	text-align: center;
	width: 600px;
	margin-left: 380px;
	color: #6b7c93;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
}
div.fourthcontent{
	text-align: left;
	width: 400px;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	color: #6b7c93;
	float: left;
	margin-left: 200px;
}
div.fourthcontent h1{
	color: #24b47e;
}
div.fifthcontent{
	margin-left: 200px;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	color: #6b7c93;
	float: left;
	width:400px;

}
div.fifthcontent h1{
	color: #24b47e;

}
div.customersimage{
	clear: both;
	margin:0 0 0 50px;
	height: 100px;
}
div.sixthcontent{
	width: 400px;
	float: left;
	margin-left: 200px;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #6b7c93;
}
div.sixthcontent h3{
	color: #8f6ed5;
}
div.seventhcontent{
	width: 400px;
	float: left;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	margin-left: 200px;
	color: #6b7c93;
}
div.seventhcontent h3{
	color: #8f6ed5;
}
div.lastdiv{
	float: left;
	width: 50%;
	clear: both;
	margin-top: 50px;
	margin-left: 200px;
	font-size: 40px;
}
div.lastbutton{
		margin-top: 300px;
}
.button3{
	width: 200px;
	height: 50px;
	font-weight: 600;
	border-radius: 7px;
	border-color: #6772e5;
	background-color: #6772e5;
	color: white;
}
.button4{
	font-weight: 600;
	background-color: white;
	width: 200px;
	height: 50px;
	color:#6772e5;
	border-radius: 7px;
	background-color: white;
	margin-left: 20px;
}
div.footerclass{
		margin-top: 200px;
		border-top: 1px solid grey;
}
div.footer{
	clear: both;
}
div.footer{
	margin-left: 200px;
	line-height: 30px;
	font-size: 15px;

}
div.footerone{
	width: 16%;
	float: left;
	font-weight: 600;
}
.footersmall{
	width: 17%;
	float: left;
	color: #8898aa;
}
div.footer{
	height:300px;
}
div.footer li{
	list-style-type: none;
}
div.footertwo{
	width: 16%;
	float: left;
	color:#8898aa;
}
div.footerthree{
	width: 16%;
	float: left;
}
div.footerfour{
	width: 16%;
	float: left;
}
div.footerfive{
	width: 16%;
	float: left;
}
div.footer a{
	color: #8898aa;
}
div.footerone a{
	color:#6772e5; 
}
div.footer a:hover{
	color: black;
}